<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Control</title>
    <link href="./static/css/output.css" rel="stylesheet">
</head>
<body>
    <div class="flex flex-column justify-center">
        <label class="mx-2" for="ipAddress">Enter IP Address:</label>
        <input type="text" id="ipAddress" placeholder="192.168.208.91">
        <div><button id="ledOn">Turn LED On</button></div>
        <div><button id="ledOff">Turn LED Off</button></div>
        <div id="content"></div>
    </div>

    <script src="./static/js/actuator.js"></script>
</body>
</html>
